@import "tailwindcss";

@theme {
  /* Colors extracted from your Instagram graphics */
  --color-tutus-blue: #22489C;
  --color-tutus-yellow: #FEE492;
  --color-tutus-bg: #F5F5F7; /* Apple's signature light gray background */
}

body {
  @apply bg-tutus-bg text-gray-900 antialiased font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}